{% extends "account/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>ユーザーネーム</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td>{{user.description}}</td>
        </tr>
        {% if user.image %}
        <tr>
            <th>写真</th>
            <img src="/{{ user.image.url }}" alt="">
        </tr>
        {% else %}
        <tr>
            <th>写真</th>
            <td>No Image</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}