{% extends "account/base.html" %}

{% load follow_filter %}

{% block content %}

<table class="table">
    <tbody>
        <tr>
            <th>ユーザーネーム</th>
            <td>{{ user_info.name }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user_info.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user_info.first_name }}</td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td>{{user_info.description}}</td>
        </tr>
        {% if user_info.image %}
        <tr>
            <th>写真</th>
            <img src="/{{ user_info.image.url }}" alt="">
        </tr>
        {% else %}
        <tr>
            <th>写真</th>
            <td>No Image</td>
        </tr>
        {% endif %}
    </tbody>
</table>


    <div class="follow_list">
        {{ user|is_follow:user_info }}
        {{ user_info | following_count }}
        {{ user_info | followed_count }}
    </div>

    <div class="follow_info">
        <a href="{% url 'account:followings' user_info.pk %}">
            フォロー一覧
        </a>
        <a href="{% url 'account:followers' user_info.pk %}">
            フォロワー一覧
        </a>
    </div>


    {% if user_info.pk == user.id %}
        <a href="{% url 'account:update' user_info.pk %}">編集</a>
    {% endif %}

    <a href="{% url 'account:user_feeds' user_info.pk %}">
        Feeds
    </a>






<script>

    // ここでフォローのAjax処理を行う
    $(document)
        .on("click",".follow",function () {
            console.log("This is clicked!");
            var id = $(this).attr("id"); // ここでフォロー先のユーザーIDを取得すru
            do_follow()
        });

    function do_follow() {
        $.ajax({
            url: `./follow`,
            type: 'get'
        })
            .done((data) => {
                console.log(data);
                $('.follow_list').html(data);
            })
    }
</script>


{% endblock %}
