{% extends "account/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>ユーザーネーム</th>
            <td>{{ user_info.name }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user_info.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user_info.first_name }}</td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td>{{user_info.description}}</td>
        </tr>
        {% if user_info.image %}
        <tr>
            <th>写真</th>
            <img src="/{{ user_info.image.url }}" alt="">
        </tr>
        {% else %}
        <tr>
            <th>写真</th>
            <td>No Image</td>
        </tr>
        {% endif %}
    </tbody>
</table>

    {% if user_info.pk == user.id %}
        <a href="{% url 'account:update' user_info.pk %}">編集</a>
    {% endif %}

    <a href="{% url 'account:user_feeds' user_info.pk %}">
        Feeds
    </a>



{% endblock %}